.main {
    margin-left: 220px;
    font-size: 28px;
    margin-right: 100px;
}

.content_message{
  font-family: 'Lato', sans-serif;
}

.body_content{
  display: inline-block;
  padding-left: 10px;
}

.header_message {
  display: flex;
}

.profile_pic{
  display: inline-block;
  background-image: image-url("default_avatar.png");
  height: 75px;
  width: 75px;

}
.name_label_message{
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
}

.time_label_message{
  margin-left: 5px;
  display: inline-block;
  font-size: 12px;
  color: #717274;
  line-height: 1;
}
.block_message{
  margin-left: 10px;
  padding-bottom: 10px;
}
.block_message:hover {
    background: #f1f1f1;
    margin-left: 20px;
}

.image-logo{
  margin-left: 75%;
  position: fixed;
  height: 80px;
  width: 200px;
  background-image: image-url("logo.png");


}
