.image-logo-login{
  float: left;
  height: 80px;
  width: 200px;
  background-image: image-url("logo_reverse.png");
  position: fixed;
}
.image-background{
  height: 500px;
  width: 700px;
  background-image: image-url("home.png");
  position: relative;
  bottom: 0px;
}
.login {
  background-color: #FFF;
}
.login-form-container {
  background-color: #FFFFFF;
  margin: auto;
  border: 1px solid #e8e8e8;
  width: 59%;
  height: 503px;

  line-height: 2.5rem;
  letter-spacing: -1px;

  font-family: 'Lato', sans-serif;
  margin-top: 40px;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  padding: 2rem 2rem 1rem;
  position: relative;
  // top: 40px;

}
#signup_header{
  text-align: left;
  font-size: 1.5rem;
  bottom:0px;
}

#signup_header span{
  color:blue;
}
#signup_header span:hover{
  text-decoration: underline;
}
#signin_header {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.login-form-container h1 {
  text-align: center;
  padding-top: 35px;
  font-weight: 500;
  font-size: 2rem;


}

.login-form-box {
  margin:auto;
  width: 59%;
}

.login-input{
  display: block;
   width: 100%;
   height:100%;
   border-radius: .25rem;
   border: 1px solid #e8e8e8;
}

#session-submit{
   background-color: #008A55;
   color: white;
   border-radius: .25rem;
   border: 1px solid #e8e8e8;
   padding: 5px 75px 5px 75px;
}

.guest-session-submit{
  background-color: #00178a;
  color: white;
  border-radius: .25rem;
  border: 1px solid #e8e8e8;
  padding: 5px 59px 5px 59px;
}
.session-button-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guest-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.label-login {
  display: block;
  align-self: center;
  width: 100%;
  height: 50px;
  font-size: 1.5em;
}

#or-label{
  text-align: center;
}

input.login-input{
  font-size: 1.5rem;
  white-space: nowrap;
  padding-left: 20px;
}

.createSpace{
  height: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e8e8e8;
    opacity: 1; /* Firefox */
    font-weight: lighter;
    padding-left: 10px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e8e8e8;
    font-weight: lighter;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #e8e8e8;
    font-weight: lighter;
}
