.message-input{
  display: block;
   width: 100%;
   height:100%;
   /* border-radius: .25rem; */
   /* border: 1px solid #e8e8e8; */
}

input.message-input{
  /* padding-left: 10px; */
  font-size: 1.5rem;
  white-space: nowrap;
}

.label-message {
  /* border-color: red; */
  /* line-height: 1.2rem; */
  font-size: 15px;
  height: 100%;
  bottom: 0px;
  position: absolute;
  width:100%;
}

/* border-radius: .25rem; */
/* border: 1px solid #e8e8e8; */

.footer_message
{
  width: 80%;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: .375rem;
  border: 2px solid rgba(160,160,162,.7);
  margin-left: 10px;
  /* margin-bottom: 10px; */
  height: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #FFF;
  margin-left: 220px;
  height: 65px;
  /* padding-bottom: 10px; */
  /* color: white; */
  /* text-align: center; */

  /* height: 150px;
  position: fixed;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  /* text-align: center; */
  /* margin-left: 220px; */
  /* padding: 0px 10px; */
}
.main {
  margin-left: 220px;
  /* height: calc(100% - 330px); */
  margin-bottom: 65px; */
  background-color: #FFF;
  overflow: auto;
}


/* .label-login{
  width: 100%;
  height: 100%;
} */
